.git
.github
.DS_Store
.trunk
.env.local
.env.*.local
vendor
node_modules
var
coverage
.phpunit.cache
.phpunit.result.cache
public_html/build
public_html/bundles
public_html/uploads/*
!public_html/uploads/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
